@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;  
}

.cta {
  padding: 80px;
  justify-content: center;  
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.header__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socials {
  display: flex;
  align-items: flex-start;
  gap: 24px;  
}

.glyph:hover {
  fill: #FFFFFF;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
}

.gallery__item {
  aspect-ratio: 1 / 1;
}

.gallery__item_full {
  aspect-ratio: unset !important;
  grid-column: 1 / span 2;
}