@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000;

  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;  
}

.cta {
  padding: 64px;
  justify-content: center;  
  gap: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.header__title {
  font-style: normal;

  font-size: 3.5rem;
  line-height: 2.8rem;
  font-weight: 500;
}

.header__subtitle {
  font-style: normal;

  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.socials {
  display: flex;
  align-items: flex-start;
  gap: 24px;  
}

.glyph:hover {
  fill: #FFFFFF;
}

.gallery {
  width: calc(100vw / 2 - 32px);
  height: 100vh;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  overflow: hidden;
}

.gallery__item {
  width: calc((50vw - 48px) * 0.5);
  aspect-ratio: 1 / 1;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  overflow: visible;

  /* background-color: #fff; */
}

.gallery__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__item_full {
  width: 100%;
  aspect-ratio: 2 / 1;
  grid-column: 1 / span 2;
}