@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #000000;
    --white: #FFFFFF;

    /* Google Material Design */
    --Gray-50: #FAFAFA;
    --Gray-400: #BDBDBD;
    --Blue-700: #1976D2;

}

html {
    max-width: 100vw;
    height: 100vh;

    color: var(--white);
    font-family: 'Lexend Deca';
    font-size: 10px;
    font-style: normal;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    background-color: var(--black);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;    
}
